* {
    margin: auto;
}

:root {
    font-family: Courier, Helvetica, Arial, serif;
    color: #a6bbff;
    text-align: center;
    scrollbar-color: #333 #111;
}

body {
    font-size: 15px;
    background-color: #262836;
}

input, select, button {
    -webkit-appearance: none;
    appearance: none;
    font-family: Courier, Helvetica, Arial, serif;
    background-color: #5d72b3;
    border: 0;
    border-radius: 10px;
}

a {
    color: #eee;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 30px 0;
}

header {
    height: 100px;
    font-size: 1.5rem;
    line-height: 100px;
}

main {
    display: flex;
    justify-content: space-between;
}

.sidePane, .displayPane {
    padding: 30px 0;
    height: calc(100vh - 160px); /* viewport height minus header (100) minus pane padding (60) */
    background-color: #111;
    box-shadow: 5px 5px 10px #000;
}

.sidePane {
    min-width: 350px;
    max-width: 550px;
    border-top-right-radius: 50px;
}

.displayPane {
    margin: auto auto auto 20px;
    width: 100%;
    border-top-left-radius: 50px;
}

.filterSearch {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    padding: 0 15px;
    line-height: 50px;
}

.filterSearch img {
    position: relative;
    top: 5px;
    margin: auto;
    height: 15px;
}

.filter, .search {
    margin: 0 0 0 20px;
    min-width: 200px;
}

.filter select {
    width: 200px;
    height: 30px;
    border: 0;
}

::-webkit-input-placeholder, ::placeholder {
    color: #222;
}

.search input {
    width: 250px;
    height: 30px;
}

.displayTable {
    margin: 30px 0;
    overflow-y: scroll;
}

.displayTable table {
    font-size: 0.9rem;
    text-align: left;
    border-spacing: 0;
}

.displayTable th, .displayTable td {
    padding: 2px 0 2px 10px;
}

.displayTable tr:nth-child(2n) {
    background-color: #20232f;
}

input[type=submit].tableSubmit {
    padding: 0;
    font-family: Courier, Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 700;
    color: #a6bbff;
    text-align: left;
    background-color: transparent;
}
input[type=submit].centerCell {
    text-align: center;
}

.centerCell {
    text-align: center;
}

td {
    height: 25px;
}

.longCell {
    width: 250px;
}
.medCell {
    width: 120px;
}
.shortCell {
    width: 80px;
}
.vShortCell {
    width: 40px;
}

.addEdit {
    line-height: 30px;
}

.editIt {
    width: 400px;
}

.addEdit div {
    width: 90%;
}

.addEdit select {
    margin: 0;
    padding: 5px;
    width: 90%;
    height: 30px;
}

.addEdit input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    height: 20px;
}

input[type=submit] {
    width: 80px;
    height: 30px;
}

input[type=submit].addSubmit {
    margin: 20px 0 0 0;
    width: 100px;
    height: 40px;
}

.sidePaneToggle {
    display: none;
}

@media (max-width: 1500px) {

    .longCell {
        width: 200px;
    }
    .medCell {
        width: 100px;
    }
    .shortCell {
        width: 60px;
    }
    .vShortCell {
        width: 30px;
    }

}

@media (max-width: 1200px) {

    body {
        font-size: calc(1vh + 2vw);
        background-color: #111;
    }

    main {
        flex-direction: column;
    }

    header {
        font-size: calc(2vh + 2vw);
    }

    input, select, button {
        font-size: calc(1vh + 1vw);
    }

    .sidePane, .displayPane {
        padding: 10px 0;
        height: auto;
        background-color: transparent;
    }

    .sidePane {
        width: 100%;
        min-width: auto;
        max-width: 100vw;
        border-radius: 0;
    }

    .sidePane, .sidePaneToggle {
        background-color: #000;
    }

    .sidePaneToggle {
        cursor: pointer;
        display: inline-block;
        padding: 10px 0;
        width: 100%;
    }

    .addEdit {
        margin: 4vh 0;
        min-width: 100vw;
        min-height: 200px;
    }

    .addEdit select {
        margin: 1vh 0;
        padding: 1vh;
        height: 4vh;
    }

    .addEdit input {
        margin: 1vh 0;
        padding: 1vh 0;
        height: 2vh;
    }

    .displayPane {
        margin: 0 auto;
        padding: 0;
        width: 95%;
        min-height: auto;
    }

    .filterSearch {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    .filterSearch img {
        height: calc(1vh + 1vw);
    }

    .filter, .search {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .filter {
        line-height: 20px;
    }

    .search input {
        width: 40vw;
        height: 3vh;
    }

    .displayTable {
        margin: 10px 0;
    }

    .displayTable table {
        font-size: calc(1vh + 2vw);
    }

    .longCell {
        width: 40vw;
    }
    .medCell {
        width: 25vw;
    }
    .shortCell {
        width: 10vw;
    }

    .usefulCell, .maybeCell {
        display: none;
    }

    .filter select {
        margin: 15px 0;
        height: 3vh;
    }

    .filter select, .search input {
        max-width: 80vw;
    }

    input[type=submit].tableSubmit {
        font-size: calc(1vh + 2vw);
    }

    input[type=submit], input[type=submit].addSubmit {
        width: 25vw;
        height: 3vh;
    }

    main > input[type=checkbox] {
        display: none;
    }

    main > input + .sidePane {
        display: none;
    }

    main > input:checked + .sidePane {
        display: block;
    }

}
