* {
    margin: auto;
}

:root {
    font-family: Courier, Helvetica, Arial, serif;
    font-size: 15px;
    color: #a6bbff;
    text-align: center;
    scrollbar-color: #444 #252525;
}

body {
    background-color: #222;
}

input, select {
    -webkit-appearance: none;
    appearance: none;
    font-family: Courier, Helvetica, Arial, serif;
    background-color: #5d72b3;
    border: 0;
    border-radius: 10px;
}

a {
    color: #eee;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 30px 0;
}

header {
    height: 100px;
    font-size: 1.5rem;
    line-height: 100px;
}

main {
    display: flex;
    justify-content: space-between;
}

.sidePane, .displayPane {
    padding: 30px 0;
    height: calc(100vh - 160px); /* viewport height minus header (100) minus pane padding (60) */
    background-color: #111;
}

.sidePane {
    min-width: 400px;
    border-top-right-radius: 50px;
}

.displayPane {
    margin: auto auto auto 20px;
    width: 100%;
    border-top-left-radius: 50px;
}

.filterSearch {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    padding: 0 15px;
    line-height: 50px;
}

.filter, .search {
    margin: 0 0 0 20px;
    min-width: 200px;
}

.filter select {
    width: 200px;
    height: 30px;
    border: 0;
}

.search {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.search span {
    display: inline-block;
    -webkit-transform: rotate(45deg) scale(1.5);
    -moz-transform: rotate(45deg) scale(1.5);
    -o-transform: rotate(45deg) scale(1.5);
    transform: rotate(45deg) scale(1.5);
}

.search input {
    width: 250px;
    height: 30px;
}

.displayTable {
    margin: 30px 0;
    overflow-y: scroll;
}

.displayTable table {
    font-size: 0.9rem;
    text-align: left;
}

input[type=submit].tableSubmit {
    padding: 0;
    font-family: Courier, Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 700;
    color: #a6bbff;
    text-align: left;
    background-color: transparent;
}
input[type=submit].centerCell {
    text-align: center;
}

.centerCell {
    text-align: center;
}

td {
    height: 25px;
}

.longCell {
    width: 250px;
}
.medCell {
    width: 120px;
}
.shortCell {
    width: 80px;
}

.addEdit {
    line-height: 30px;
}

.addEdit div {
    width: 90%;
}

.addEdit select {
    margin: 0;
    padding: 5px;
    width: 90%;
    height: 30px;
}

.addEdit input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    height: 20px;
}

input[type=submit] {
    width: 80px;
    height: 30px;
}

input[type=submit].addSubmit {
    margin: 20px 0 10px 0;
    width: 100px;
    height: 40px;
}

.sidePaneToggle {
    display: none;
}

@media screen and (max-width: 1390px) {

    .longCell {
        width: 200px;
    }
    .medCell {
        width: 100px;
    }
    .shortCell {
        width: 60px;
    }

}

@media screen and (max-width: 1100px) {

    body {
        background-color: #111;
    }

    main {
        flex-direction: column;
    }

    .sidePane, .displayPane {
        padding: 10px 0;
        height: auto;
        background-color: transparent;
    }

    .sidePane {
        width: 100%;
        min-width: auto;
        border-radius: 0;
    }

    .sidePane, .sidePaneToggle {
        background-color: #000;
    }

    .sidePaneToggle {
        cursor: pointer;
        display: inline-block;
        padding: 10px 0;
        width: 100%;
    }

    .addEdit {
        min-height: 200px;
    }

    .displayPane {
        margin: 0 auto;
        padding: 0;
        width: 95%;
        min-height: auto;
    }

    .filterSearch {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    .filter, .search {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .filter {
        line-height: 20px;
    }

    .displayTable {
        margin: 10px 0;
    }

    .filter select {
        margin: 15px 0;
    }

    .filter select, .search input {
        max-width: 80vw;
    }

    main > input[type=checkbox] {
        display: none;
    }

    main > input + .sidePane {
        display: none;
    }

    main > input:checked + .sidePane {
        display: block;
    }

    .noMobile {
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .usefulCell, .maybeCell {
        display: none;
    }

}